@use 'variables' as *;
@use 'mixins' as *;

.input-field,
.select-field,
.textarea-field {
  @include input-style;
}

.form-stack {
  display: grid;
  gap: $space-4;
}

.form-row {
  display: grid;
  gap: $space-2;

  label {
    font-size: $text-sm;
    font-weight: $weight-bold;
  }
}

.form-help {
  font-size: $text-sm;
  color: $text-muted-color;
}

.form-error {
  font-size: $text-sm;
  color: $error-color;
}
